.page--forgot_password {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: -2;
  opacity: 0;
  transition: all 0.8s;

  .forgot_password--btn_x {
    position: absolute;
    @include btn-style(transparent, rgb(0, 105, 109));
    border: none;
    font-size: 2.5vw;
    top: 1.5%;
    right: 3%;

    &:hover {
      color: #009baf;
    }
  }

  .forgot_password--warning {
    @include message-style();
    width: 37vw;
    font-size: 1.4vw;
    padding: 0.5% 1% 0.5% 1%;
    border-radius: 1% / 11%;
    letter-spacing: 0.1vw;
    margin-bottom: 1%;
  }

  .forgot_password--form {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(240, 226, 209));
    width: 37vw;
    aspect-ratio: 1 / 0.6;
    border-radius: 2% / 3.5%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.514);
    padding: 2%;
    padding-bottom: 0%;

    h2 {
      font-size: 2vw;
      letter-spacing: 0.2vw;
      word-spacing: 0.3vw;
      color: #026b79;
    }

    .forgot_password--explanation,
    .forgot_password--disclaimer {
      margin-top: 9%;
      letter-spacing: 0.1vw;
    }

    .forgot_password--explanation {
      font-size: 1.5vw;
    }

    .forgot_password--disclaimer {
      font-size: 1.1vw;
    }

    #forgot_password--input_email {
      margin-top: 5%;
      height: 10%;
      width: 60%;
      border-radius: 2% / 15%;
      border-color: #bbbbbb;
      padding: 0 0 0 2%;
      letter-spacing: 0.1vw;
      font-size: 1.1vw;
    }

    .btn--send {
      @include btn-style-gradient(
        linear-gradient(rgb(255, 213, 27), rgb(255, 102, 0))
      );
      border: none;
      border-radius: 12% / 20%;
      font-size: 1vw;
      padding: 1.3%;
      letter-spacing: 0.1vw;
      margin-left: 3%;

      &:hover {
        transform: translateY(-1px);
      }
    }
  }

  .success_message {
    background-image: linear-gradient(
      rgb(255, 255, 175),
      rgb(255, 255, 155),
      rgb(255, 255, 103)
    );
    width: 40vw;
    height: fit-content;
    padding: 2%;
    border-radius: 1.5% / 4%;
    color: rgb(2, 63, 231);
    font-size: 1.5vw;
    letter-spacing: 0.05vw;
  }

  @media (768px < width <= 1024px) {
    .forgot_password--btn_x {
      font-size: 3.5vw;
    }

    .forgot_password--warning {
      width: 45vw;
      font-size: 1.7vw;
    }

    .forgot_password--form {
      width: 45vw;

      h2 {
        font-size: 2.5vw;
        margin-top: 1%;
      }

      .forgot_password--explanation {
        font-size: 1.8vw;
      }

      .forgot_password--disclaimer {
        font-size: 1.4vw;
      }

      #forgot_password--input_email {
        width: 70%;
        height: 10%;
        font-size: 1.4vw;
      }

      .btn--send {
        font-size: 1.3vw;
        padding: 1.3%;
        margin-left: 3%;
      }

      #reset_password--input_password {
        font-size: 1.3vw;
      }
    }

    .success_message {
      width: 50vw;
      font-size: 1.7vw;
      letter-spacing: 0.1vw;
    }
  }

  @media (480px < width <= 768px) {
    .forgot_password--btn_x {
      font-size: 4.5vw;
      right: 4%;
    }

    .forgot_password--warning {
      width: 55vw;
      font-size: 2.2vw;
    }

    .forgot_password--form {
      width: 55vw;
      aspect-ratio: 1 / 0.66;

      h2 {
        font-size: 3.2vw;
        margin-top: 2%;
      }

      .forgot_password--explanation {
        font-size: 2.5vw;
      }

      .forgot_password--disclaimer {
        font-size: 1.9vw;
        letter-spacing: 0.15vw;
      }

      #forgot_password--input_email {
        width: 75%;
        height: 9.5%;
        font-size: 1.9vw;
      }

      .btn--send {
        font-size: 1.75vw;
        padding: 1.3%;
        margin-left: 3%;
      }
    }

    .success_message {
      width: 60vw;
      font-size: 2.3vw;
      letter-spacing: 0.2vw;
      padding: 3%;
    }
  }

  @media (320px < width <= 480px) {
    .forgot_password--btn_x {
      font-size: 7vw;
      top: 1%;
      right: 5%;
    }

    .forgot_password--warning {
      width: 75vw;
      font-size: 3.3vw;
      letter-spacing: 0.2vw;
      padding: 1%;
      margin-bottom: 1.5%;
    }

    .forgot_password--form {
      width: 75vw;
      aspect-ratio: 1 / 0.7;

      h2 {
        font-size: 4.55vw;
        margin-top: 3%;
      }

      .forgot_password--explanation {
        font-size: 3.5vw;
        margin-top: 10%;
      }

      .forgot_password--disclaimer {
        font-size: 3vw;
        letter-spacing: 0.2vw;
      }

      #forgot_password--input_email {
        width: 75%;
        height: 10%;
        font-size: 3vw;
      }

      .btn--send {
        font-size: 2.9vw;
        padding: 1.3%;
        margin-left: 3%;
      }
    }

    .success_message {
      width: 70vw;
      font-size: 3.2vw;
      letter-spacing: 0.25vw;
      padding: 4.5%;
    }
  }

  @media (width <= 320px) {
    .forgot_password--btn_x {
      font-size: 9vw;
      top: 0.5%;
      right: 5%;
    }

    .forgot_password--warning {
      width: 92vw;
      font-size: 4.5vw;
      letter-spacing: 0.3vw;
      padding: 1.3%;
      margin-bottom: 3%;
    }

    .forgot_password--form {
      width: 92vw;
      aspect-ratio: 1 / 0.75;

      h2 {
        font-size: 5.9vw;
        letter-spacing: 0.3vw;
        margin-top: 4%;
      }

      .forgot_password--explanation,
      .forgot_password--disclaimer {
        margin-top: 9%;
      }

      .forgot_password--explanation {
        font-size: 5vw;
        letter-spacing: 0.1vw;
      }

      .forgot_password--disclaimer {
        font-size: 4.2vw;
        letter-spacing: 0.2vw;
      }

      #forgot_password--input_email {
        width: 78%;
        height: 11%;
        font-size: 4.3vw;
        letter-spacing: 0.2vw;
      }

      .btn--send {
        font-size: 3.8vw;
        padding: 1.5%;
        margin-left: 2%;
      }
    }

    .success_message {
      width: 85vw;
      font-size: 4vw;
      letter-spacing: 0.3vw;
      padding: 5%;
    }
  }
}
