.overlay--app_explanation {
  @include overlay-style();
  overflow-y: auto;
  z-index: 5;

  .overlay_in_app_explanation--about_this_web {
    border-radius: 2% / 1.5%;
  }

  .overlay_in_app_explanation--how_to_use {
    border-radius: 2% / 0.4%;
  }

  .overlay_in--app_explanation {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: $primary-form-outside-gradient;
    width: 55vw;
    height: fit-content;
    margin: 2%;
  }

  .btn_x--app_explanation {
    @include btn-style(transparent, rgb(0, 153, 255));
    font-size: 2.5vw;
    right: 2.5%;

    &:hover {
      color: #6fddff;
    }
  }

  .overlay_in_app_explanation--inside {
    position: relative;
    background-image: $primary-form-inside-gradient;
    width: 85%;
    height: fit-content;
    margin: 5%;
    padding: 4%;
    border-radius: 1% / 0.7%;

    h1 {
      font-size: 2.4vw;
      letter-spacing: 0.1vw;
      margin-bottom: 5%;
    }

    h2 {
      font-size: 2vw;
      letter-spacing: 0.1vw;
      margin-bottom: 5%;
    }

    h5 {
      font-size: 1.7vw;
      letter-spacing: 0.1vw;
      margin-top: 10%;

      &:first-child {
        margin-top: 5%;
      }
    }

    h6 {
      font-size: 1.4vw;
      letter-spacing: 0.05vw;
      margin-top: 5%;
    }

    .p--how_to_use {
      text-decoration: red underline;
      letter-spacing: 0.1vw;
    }

    p {
      font-size: 1.4vw;
      margin-top: 5%;
    }

    img {
      width: 92%;
      margin-bottom: 3%;
    }

    .image_about_this_web--goals {
      aspect-ratio: 1 / 0.6;
      margin-top: 6%;
    }

    .image_about_this_web--contenteditable {
      aspect-ratio: 1 / 0.35;
    }

    .image_about_this_web--rooms {
      aspect-ratio: 1 / 0.4;
      margin-top: 3%;
    }

    .image_how_to_use--all {
      position: relative;
      width: 110%;
      margin-top: 5%;
      right: 5%;
    }

    .image_how_to_use--set_goals {
      transform: scale(70%);
    }

    .image_how_to_use--create_rooms {
      transform: scale(117%);
      margin-top: 7%;
      margin-bottom: 7%;
    }

    .image_how_to_use--settings {
      margin-top: 7%;
    }

    .to_set_goals_container {
      transform: translateY(10%);
    }
  }

  @media (768px < width <= 1024px) {
    .overlay_in--app_explanation {
      width: 60vw;
      margin: 5%;
    }

    .btn_x--app_explanation {
      font-size: 3vw;
      top: -0.3%;
      right: 2%;
    }

    .overlay_in_app_explanation--about_this_web {
      border-radius: 2% / 1%;
    }

    .overlay_in_app_explanation--how_to_use {
      border-radius: 2% / 0.4%;
    }

    .overlay_in_app_explanation--inside {
      h1 {
        font-size: 2.8vw;
        letter-spacing: 0.2vw;
      }

      h2 {
        font-size: 2.5vw;
      }

      h5 {
        font-size: 2.2vw;
      }

      h6 {
        font-size: 1.9vw;
        margin-top: 8%;
      }

      p {
        font-size: 1.8vw;
        margin-top: 8%;
      }

      img {
        width: 92%;
      }

      .image_how_to_use--set_goals {
        transform: scale(80%);
      }

      .image_how_to_use--settings {
        margin-top: 8%;
        transform: scale(110%);
      }
    }
  }

  @media (480px < width <= 768px) {
    .overlay_in_app_explanation--about_this_web {
      border-radius: 2% / 1%;
    }

    .overlay_in--app_explanation {
      width: 70vw;
      margin: 5%;
    }

    .btn_x--app_explanation {
      font-size: 4vw;
      top: -0.3%;
      right: 2%;
    }

    .overlay_in_app_explanation--inside {
      h1 {
        font-size: 3.3vw;
        letter-spacing: 0.2vw;
      }

      h2 {
        font-size: 3vw;
        letter-spacing: 0.1vw;
        margin-bottom: 5%;
      }

      h5 {
        font-size: 2.5vw;
      }

      h6 {
        font-size: 2.3vw;
        margin-top: 7%;
      }

      p {
        font-size: 2vw;
        margin-top: 7%;
      }

      img {
        width: 95%;
        margin-bottom: 3%;
      }

      .image_how_to_use--set_goals {
        transform: scale(80%);
      }

      .image_how_to_use--create_rooms {
        transform: scale(114%);
      }

      .image_how_to_use--settings {
        transform: scale(110%);
      }

      .to_set_goals_container {
        transform: translateY(8%);
      }
    }
  }
  @media (320px < width <= 480px) {
    .overlay_in_app_explanation--about_this_web {
      border-radius: 2% / 1%;
    }

    .overlay_in--app_explanation {
      width: 80vw;
      margin: 8%;
    }

    .btn_x--app_explanation {
      font-size: 5.5vw;
      top: -0.3%;
      right: 2%;
    }

    .overlay_in_app_explanation--inside {
      h1 {
        font-size: 4.2vw;
        letter-spacing: 0.2vw;
        margin-bottom: 7%;
      }

      h2 {
        font-size: 4.3vw;
        letter-spacing: 0.2vw;
      }

      h5 {
        font-size: 3.9vw;
        letter-spacing: 0.2vw;
        margin-top: 12%;
      }

      h6 {
        font-size: 3.4vw;
        letter-spacing: 0.1vw;
        margin-top: 7%;
      }

      p {
        font-size: 3vw;
        margin-top: 7%;
        letter-spacing: 0.07vw;
      }

      img {
        width: 96%;
      }

      .image_how_to_use--set_goals {
        transform: scale(80%);
      }

      .image_how_to_use--create_rooms {
        transform: scale(114%);
      }

      .image_how_to_use--settings {
        transform: scale(105%);
      }

      .to_set_goals_container {
        transform: translateY(8%);
      }
    }
  }

  @media (width <= 320px) {
    .overlay_in--app_explanation {
      width: 85vw;
      margin: 10%;
      border-radius: 2% / 1%;
    }

    .overlay_in_app_explanation--how_to_use {
      border-radius: 2% / 0.4%;
    }

    .btn_x--app_explanation {
      font-size: 7.5vw;
      top: -0.45%;
      right: 1%;
    }

    .overlay_in_app_explanation--inside {
      width: 90%;

      h1 {
        font-size: 5vw;
        letter-spacing: 0.2vw;
        margin-bottom: 5%;
      }

      h2 {
        font-size: 5vw;
      }

      h5 {
        font-size: 4.6vw;
      }

      h6 {
        font-size: 4vw;
        letter-spacing: 0.1vw;
        margin-top: 7%;
      }

      .p--how_to_use {
        letter-spacing: 0.2vw;
      }

      p {
        font-size: 4vw;
      }

      img {
        width: 98%;
        margin-bottom: 3%;
      }

      .image_about_this_web--goals {
        aspect-ratio: 1 / 0.6;
        margin-top: 6%;
      }

      .image_how_to_use--set_goals {
        transform: scale(80%);
      }

      .image_how_to_use--create_rooms {
        transform: scale(111%);
      }

      .image_how_to_use--settings {
        transform: scale(105%);
      }
    }
  }
}
